@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");

:root {
  --header-color: #dddddd;
  --header-span-color: #f8f8f8;
  --board-border-color: #b4b4ff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans Narrow", sans-serif;
}
header {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--header-color);
}
header h4 {
  font-weight: 400;
  font-size: 3rem;
}
.header-span {
  background-color: var(--header-span-color);
  width: 25%;
  margin: 5px;
  display: flex;
  margin-right: 20%;
}
main {
  height: auto;
  height: 100%;
  display: flex;
}
.left,
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 50%;
  height: 100%;
}
.player-board,
.computer-board {
  display: grid;
  grid-template-columns: repeat(10, 33px);
  padding-top: 5%;
}
.box {
  width: 33px;
  height: 33px;
  border: 1px solid var(--board-border-color);
}
footer {
}
